bac/
count_log/
error_log/
example/
db/mCAP/mcap_v1_0.txt
db/gatk/ucsc.hg19.fasta
db/gatk/dbsnp_138.hg19.vcf
db/gatk/dbsnp_138.hg19.tab.gz
db/gatk/1000G_phase1.indels.hg19.sites.vcf
db/bwa/ucsc.hg19.fasta.sa
db/bwa/ucsc.hg19.fasta.pac
db/bwa/ucsc.hg19.fasta.bwt
db/bwa/ucsc.hg19.fasta
db/annovar/0829/hg19_tfbsConsSites.txt
db/annovar/0829/hg19_snp137_sort.txt
db/annovar/0829/hg19_refGeneMrna.fa
db/annovar/0829/hg19_popfreq_all_20150413.txt.idx
db/annovar/0829/hg19_popfreq_all_20150413.txt
db/annovar/0829/hg19_ljb26_all.txt
*.bam
*.fq.gz
*.gz
