bac/
count_log/
error_log/
example/
*.bam
*.fq.gz
*.gz
db/mCAP/mcap_v1_0.txt
db/hgmd/hgmd_hg19.gff
db/gatk/ucsc.hg19.fasta
db/gatk/Mills_and_1000G_gold_standard.indels.hg19.sites.vcf
db/gatk/dbsnp_138.hg19.vcf
db/gatk/dbsnp_138.hg19.tab.gz
db/gatk/1000G_phase1.indels.hg19.sites.vcf
db/exome/agilent_region.B37.fa
db/exome/agilent_region.B37.base
db/bwa/ucsc.hg19.fasta.sa
db/bwa/ucsc.hg19.fasta.pac
db/bwa/ucsc.hg19.fasta.bwt
db/bwa/ucsc.hg19.fasta
db/annovar/0829/yang_OK/hg19_clinvar_20160802.txt
db/annovar/0829/hg19_tfbsConsSites.txt
db/annovar/0829/hg19_snp137_sort.txt/db/annovar/0829/hg19_refGeneMrna.fa
db/annovar/0829/hg19_refGeneMrna.fa
db/annovar/0829/hg19_popfreq_all_20150413.txt.idx
db/annovar/0829/hg19_popfreq_all_20150413.txt
db/annovar/0829/hg19_ljb26_all.txt
db/annovar/0829/hg19_cosmic70.txt
db/1000genomes/current.tree
